/**
 * @file
 * CSS targeted specifically for Internet Explorer 8 (and earlier) for Windows.
 * 
 */

 

/**
 * Portfolio 3 Columns styles.
 */
 
.view-id-portfolio_gallery_view .view-content .views-row-3, .view-id-portfolio_gallery_view .view-content .views-row-6, .view-id-portfolio_gallery_view .view-content .views-row-9, .view-id-portfolio_gallery_view .view-content .views-row-12, .view-id-portfolio_gallery_view .view-content .views-row-15 {
    margin-right: 0;
}

.view-id-portfolio_gallery_view .view-content .views-row-1, .view-id-portfolio_gallery_view .view-content .views-row-4, .view-id-portfolio_gallery_view .view-content .views-row-7, .view-id-portfolio_gallery_view .view-content .views-row-10, .view-id-portfolio_gallery_view .view-content .views-row-13, .view-id-portfolio_gallery_view .view-content .views-row-16{
    clear: both;
}


/**
 * Portfolio 2 Columns styles.
 */
 
.view-id-portfolio_gallery_2_columns .view-content .views-row-2, .view-id-portfolio_gallery_2_columns .view-content .views-row-4, .view-id-portfolio_gallery_2_columns .view-content .views-row-6, .view-id-portfolio_gallery_2_columns .view-content .views-row-8, .view-id-portfolio_gallery_2_columns .view-content .views-row-10, .view-id-portfolio_gallery_2_columns .view-content .views-row-12, .view-id-portfolio_gallery_2_columns .view-content .views-row-14{
    margin-right: 0;
}

.view-id-portfolio_gallery_2_columns .view-content .views-row-1, .view-id-portfolio_gallery_2_columns .view-content .views-row-3, .view-id-portfolio_gallery_2_columns .view-content .views-row-5, .view-id-portfolio_gallery_2_columns .view-content .views-row-7, .view-id-portfolio_gallery_2_columns .view-content .views-row-9, .view-id-portfolio_gallery_2_columns .view-content .views-row-11, .view-id-portfolio_gallery_2_columns .view-content .views-row-13, .view-id-portfolio_gallery_2_columns .view-content .views-row-15{
    clear: both;
}


/**
 * Portfolio 4 Columns styles.
 */

.view-id-portfolio_gallery_4_columns .view-content .views-row-4, .view-id-portfolio_gallery_4_columns .view-content .views-row-8, .view-id-portfolio_gallery_4_columns .view-content .views-row-12, .view-id-portfolio_gallery_4_columns .view-content .views-row-16{
    margin-right: 0;
}

.view-id-portfolio_gallery_4_columns .view-content .views-row-1, .view-id-portfolio_gallery_4_columns .view-content .views-row-5, .view-id-portfolio_gallery_4_columns .view-content .views-row-9, .view-id-portfolio_gallery_4_columns .view-content .views-row-13, .view-id-portfolio_gallery_4_columns .view-content .views-row-19{
    clear: both;
}

.view-id-portfolio_gallery_4_columns .views-row{	
	padding-left: 0;
}



#views_slideshow_cycle_main_slideshow_2-block, #views_slideshow_cycle_teaser_section_slideshow_2-block, #views_slideshow_cycle_teaser_section_slideshow_2-block .views_slideshow_cycle_slide, #views_slideshow_cycle_teaser_section_slideshow_2-block  .views-slideshow-cycle-main-frame-row-item{
	height: 450px !important;
	margin-bottom: -50px;
}

#block-views-slideshow-2-block .views-field-title-1 {    
    bottom: 0;
}

#block-views-slideshow-2-block {
    margin-bottom: 50px;    
}

#block-views-slideshow-2-block .views-slideshow-controls-bottom {   
	margin-top: -59px;
	position: absolute;
}

#block-views-slideshow-2-block .views-field-title-1 {
    background: url("../images/slide-back-ie.png") no-repeat scroll 6px bottom transparent;   
	width: 420px;
}


/* Footer Blocks */

.region-footer .block{
	text-align: left;
}


/* Albums View */

.view-albums .album-row {
	background: url("../images/albums-collage-ie.png") no-repeat scroll 5px -2px transparent;    
}

.view-id-blog_view .views-field-title{
	clear: none;
}


/* Portfolio Explorer */

.view-id-portfolio_albums_view.view-display-id-page .views-row-4, .view-id-portfolio_albums_view.view-display-id-page .views-row-8, .view-id-portfolio_albums_view.view-display-id-page .views-row-16, .view-id-portfolio_albums_view.view-display-id-page .views-row-12, .view-id-portfolio_albums_view.view-display-id-page .views-row-20, .view-id-portfolio_albums_view.view-display-id-page .views-row-24, .view-id-portfolio_albums_view.view-display-id-page .views-row-28, .view-id-portfolio_albums_view.view-display-id-page .views-row-32{
	margin-right: 0;
}


/* Sencillo Artwork */

#views_slideshow_cycle_main_slideshow_2-block, #views_slideshow_cycle_teaser_section_slideshow_2-block, #views_slideshow_cycle_teaser_section_slideshow_2-block .views_slideshow_cycle_slide, #views_slideshow_cycle_teaser_section_slideshow_2-block  .views-slideshow-cycle-main-frame-row-item{
	height: 450px !important;
	margin-bottom: -50px;
}

#block-views-slideshow-2-block .views-field-title-1 {    
    bottom: 0;
}

#block-views-slideshow-2-block {
    margin-bottom: 42px;    
}

#block-views-slideshow-2-block .views-slideshow-controls-bottom {   
	margin-top: -59px;
	position: absolute;
}


body.front .second-body{
	background: url("../images/slide-back-ie.png") no-repeat scroll center 203px transparent;   
}
#block-views-slideshow-2-block .views-field-title-1 {  
	background: none; 
	width: 420px;
}
